@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

html {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  width: 100%;
  height: 100vh;
}

.acc-hide-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

header {
  height: 112px;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: 0.35s;
}


.header_con {
  display: flex;
  height: 100%;
  max-width: 1216px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
  padding: 0 32px;
  box-sizing: border-box;
}

.header_menu_ul {
  display: flex;
  gap: 56px;
}

.login_ul {
  display: flex;
  gap: 24px;
}

.login_list > a {
  color: #231f20;
  font-size: 20px;
}

.login-icon {
  display: none;
}

.new_menu,
.popular_menu,
.recommended_menu {
  background-color: #f8ba03;
  position: relative;
}

.menu_con {
  margin: 0 auto;
  overflow: hidden;
}

.menu_con_ul {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

.new_menu_con,
.popular_menu_con,
.recommended_menu_con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 112px;
  flex-shrink: 0;
  width: 100vw;
  gap: 64px;
}


.new_menu_con > figure > img,
.popular_menu_con > figure > img,
.recommended_menu_con > figure > img{
  height: 100%;
}

.popular_menu_con figure {
  order: -1;
}

.button_con {
  width: fit-content;
  padding: 10px 40px;
  font-size: 24px;
  color: white;
  background-color: #231f20;
  border-radius: 98px;
}

.button_con > p {
  width: fit-content;
  margin: 0 auto;
}

.food_menu_con > figure {
  position: absolute;
}

.menu-slide-index-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 42px;
  max-width: 1216px;
  position: relative;
}

.index-dots {
  overflow: hidden;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: fit-content;
  transform: translateX(-50%);
}

.index-dots p {
  position: absolute;
  word-break: keep-all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu_slide_cir {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  transition-duration: 1s;
  transition-property: background-color, height, width;
  transition-delay: 1s, 0s, 1s;
}


.index-dots.active .menu_slide_cir {
  width: 120px;
  height: 2px;
  background-color: #ff0000;
  transition-duration: 1s;
  transition-property: width, background-color, height;
  transition-delay: 0s, 0s, 1s;
}

.nene_char_con {
  max-width: 1216px;
  margin: 0 auto;
}

.nene_char {
  position: relative;
  transition: 1s;
  transform: translateX(-50%);
  width: 67px;
  height: 67px;
  left: 0%;
}

/* .nene_char.hidden {
  display: none;
} */

.menu_title_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 600px;
}

.menu_title_con > p {
  width: fit-content;
  line-height: 1.2;
}
.menu_title_con > :nth-child(2) {
  font-size: 40px;
}



.new_menu h3,
.popular_menu h3,
.recommended_menu h3 {
  color: #ea2328;
}

.menu_style_ul {
  display: flex;
  gap: 16px;
}

h3 {
  font-weight: 900;
  font-size: 56px;
}

.menu_style_li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #424141;
  color: #231f20;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  width: fit-content;
  /* flex-shrink: 0; */
}


.location_store_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  gap: 96px;
  overflow: hidden;
}

.slide_container {
  display: flex;
  /* gap: 6px; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide_container > img {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10
  ;
}

.slide_container > img:first-child {
  right: calc( 100% + 6px);
}
.slide_container > img:last-child {
  left: calc( 100% + 6px);
}

.make_slide {
  max-width: 1216px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

.location_store_ul {
  display: flex;
  gap: 52px;
  transition: 1s;
}

.hidden {
  display: none;
}



.nene_store_img {
  display: flex;
  width: 265px;
  height: 265px;
  background-color: #f8ba03;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nene_store_img > figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.nene_store_img > figure > p {
  display: flex;
  justify-content: end;
  font-size: 14px;
  white-space: nowrap;
}

.location_store_li {
  transition: 1s;
}

.location_store_li > a {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.nene_gallery_con {
  max-width: 1010px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 131px;
  margin: 0 auto;
}

.nene_title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nene_title > h2 {
  font-size: 48px;
  color: #4f4c4c;
  font-weight: 700;
}

.sns_design_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns_design_facebook,
.sns_design_instagram {
  width: 392px;
  height: 685px;
  background-color: #d9d9d9;
  border-radius: 18px;
  position: relative;
}

.facebook_li,
.instagram_li {
  display: flex;
  flex-direction: column;
}

.facebook_icon_con,
.instagram_icon_con {
  display: flex;
  gap: 20px;
}

.facebook_contents_con,
.instrgram_contents_con {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
}

.text_con {
  width: 360px;
  background-color: #a5a5a5;
  line-height: 1.5;
}

.facebook_contents_con > figure:last-child,
.instrgram_contents_con > figure:last-child {
  position: absolute;
  left: 62%;
  top: 94%;
}

.footer_con {
  background-color: #2b2b2b;
  padding: 0 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_ul {
  display: flex;
  gap: 80px;
}

.footer_li > a {
  font-size: 16px;
  color: #dbd8d8;
  font-weight: 300;
}

.company_explain_con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #484747;
  padding: 20px 32px
}

.company_information {
  font-size: 16px;
  line-height: 1.5;
  color: #979595;
  font-weight: 300;
}

.another_information {
  display: flex;
}


.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
.map_wrap {
  display: none;
}

@media screen and (max-width : 1365px){
  .header_menu_con {
    display: none;
  }

  .login_list {
    display: none;
  }

  .login-icon {
    display: block;
  }


  .menu_title_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
  }
}

@media screen and (max-width : 799px) {
  
}