body {
  font-family: 'Noto Sans KR', sans-serif;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: 112px;
  position: fixed;
}

.header_con {
  display: flex;
  height: 100%;
  padding: 0 352px;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
}

.header_menu_ul {
  display: flex;
  gap: 56px;
}

.login_ul {
  display: flex;
  gap: 24px;
}

.login_list > a {
  color: #231f20;
}

.menu_con {
  padding: 0 352px;
}

.food_menu_con {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 112px;
}

.food_menu_con figure img {
  width: 761px;
  height: 615px;

}

.new_menu,
.popular_menu,
.recommended_menu {
  width: 100vw;
  height: 100vh;
  background-color: #f8ba03;
}



.menu_slide_con {
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.menu_slide_cir {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
}